@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
.formShadow:hover {
  border-color: #62def5;
  box-shadow: 0px 12px 26px 5px rgba(98, 222, 245, 0.4);
  transition: 0.3s ease-in;
}

.transparentCart:hover {
  background-color: transparent;
  background-image: linear-gradient(22deg, #e9fcff0f 0%, #98c0dfb5 55%);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  transition: 0.3s ease-in;

  border-color: #62def5;

  box-shadow: 0px 12px 26px 5px rgba(98, 222, 245, 0.4);
}
.transparentCart {
  background-image: linear-gradient(45deg, #e9fcff0f 0%, #98c0dfb5 100%);
  transition: 0.3s ease-in;
}
.accord {
  background-image: linear-gradient(45deg, #e9fcff0f 0%, #98c0dfb5 100%);
  border-style: solid;
  border-width: 1px;
  border-color: #e9fcff0f;
  transition: 0.3s ease-in;
}

.btnBlue {
  background-color: transparent;
  background-image: linear-gradient(45deg, #62def5 0%, #3089f3 100%);
}

.btnBlue:hover {
  background-image: linear-gradient(45deg, #62def5 60%, #3089f3 100%);
  transition: 0.3s ease-in;
}

.bg-custom-blue {
  background-color: #62def5;
}
